name: snaplist
description: A small library that allows to create lists with snapping to item.
version: 1.0.0
author: David Leibovych <ariedov@gmail.com>
homepage: https://github.com/ariedov/flutter_snaplist

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
